.Register {
    max-width: 400px;
    border: solid 5px white;
    padding: 30px;
    margin: 50px auto;
    font-size: 1.5em;
    color: black;
    border-radius: 25px;
}

input {
    display: block;
    margin: 10px auto;
}

@media only screen and (max-width: 800px) {
    input {
        max-width: 300px;
    }

}

@media only screen and (max-width: 580px) {
    input{
        max-width: 300px;
    }

}

@media only screen and (max-width: 390px) {
    input {
       max-width: 250px;
    }
}

@media only screen and (max-width: 330px) {
    input {
        max-width: 200px;
    }
}

@media only screen and (max-width: 290px) {
    input {
        max-width: 140px;
    }
}